# Ortho4XP packaging
Binary/

# Ortho4XP workdir cache directories (in case workdir is kept within the source dir)
Airport_data/
Elevation_data/
Extents/Auto/
Geotiffs/
Masks/
OSM_data/
Orthophotos/
Previews/
Tiles/

# Ortho4XP configuration, log, output
**/Ortho4XP.cfg
**/Ortho4XP.log
.last_gui_params.txt
yOrtho4XP_Overlays

# Python: Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# virtualenv
venv/
venv36/
virtualenv/

# PyCharm
.idea/

# Misc
**/*.bak
**/*.orig
**/Thumbs.db
tmp/

.*.swp
